In [3]:
import numpy as np 
import matplotlib.pyplot as plt 
import pandas as pd

In [4]:
#read daily_tweet_activity_metrics_hydrizon_20230530_20230627_en.csv file
df = pd.read_csv('daily_tweet_activity_metrics_hydrizon_20230530_20230627_en.csv')
df.head()

,Date,Tweets published,impressions,engagements,engagement rate,retweets,replies,likes,user profile clicks,url clicks,...,promoted hashtag clicks,promoted detail expands,promoted permalink clicks,promoted app opens,promoted app installs,promoted follows,promoted email tweet,promoted dial phone,promoted media views,promoted media engagements
0,2023-05-30,0,42,9,0.214286,1,0,6,1,0,...,-,-,-,-,-,-,-,-,-,-
1,2023-05-31,0,9,2,0.222222,1,0,1,0,0,...,-,-,-,-,-,-,-,-,-,-
2,2023-06-01,0,12,7,0.583333,1,0,6,0,0,...,-,-,-,-,-,-,-,-,-,-
3,2023-06-02,0,9,3,0.333333,1,0,1,1,0,...,-,-,-,-,-,-,-,-,-,-
4,2023-06-03,0,2,0,0.000000,0,0,0,0,0,...,-,-,-,-,-,-,-,-,-,-

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 38 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Date                          28 non-null     object
 1   Tweets published              28 non-null     int64
 2   impressions                   28 non-null     int64
 3   engagements                   28 non-null     int64
 4   engagement rate               28 non-null     float64
 5   retweets                      28 non-null     int64
 6   replies                       28 non-null     int64
 7   likes                         28 non-null     int64
 8   user profile clicks           28 non-null     int64
 9   url clicks                    28 non-null     int64
 10  hashtag clicks                28 non-null     int64
 11  detail expands                28 non-null     int64
 12  permalink clicks              28 non-null     int64
 13  app opens                     28 non-null     int64
 14  app installs                  28 non-null     int64
 15  follows                       28 non-null     int64
 16  email tweet                   28 non-null     int64
 17  dial phone                    28 non-null     int64
 18  media views                   28 non-null     int64
 19  media engagements             28 non-null     int64
 20  promoted impressions          28 non-null     object
 21  promoted engagements          28 non-null     object
 22  promoted engagement rate      28 non-null     object
 23  promoted retweets             28 non-null     object
 24  promoted replies              28 non-null     object
 25  promoted likes                28 non-null     object
 26  promoted user profile clicks  28 non-null     object
 27  promoted url clicks           28 non-null     object
 28  promoted hashtag clicks       28 non-null     object
 29  promoted detail expands       28 non-null     object
 30  promoted permalink clicks     28 non-null     object
 31  promoted app opens            28 non-null     object
 32  promoted app installs         28 non-null     object
 33  promoted follows              28 non-null     object
 34  promoted email tweet          28 non-null     object
 35  promoted dial phone           28 non-null     object
 36  promoted media views          28 non-null     object
 37  promoted media engagements    28 non-null     object
dtypes: float64(1), int64(18), object(19)
memory usage: 8.4+ KB

In [6]:
df.describe()

,Tweets published,impressions,engagements,engagement rate,retweets,replies,likes,user profile clicks,url clicks,hashtag clicks,detail expands,permalink clicks,app opens,app installs,follows,email tweet,dial phone,media views,media engagements
count,28.000000,28.000000,28.000000,28.000000,28.000000,28.0,28.000000,28.000000,28.000000,28.0,28.000000,28.0,28.0,28.0,28.0,28.0,28.0,28.000000,28.000000
mean,0.071429,8.392857,3.392857,0.191599,0.392857,0.0,1.464286,0.178571,0.678571,0.0,0.071429,0.0,0.0,0.0,0.0,0.0,0.0,0.642857,0.607143
std,0.262265,10.321998,6.795092,0.342928,0.685257,0.0,2.700921,0.475595,2.178235,0.0,0.262265,0.0,0.0,0.0,0.0,0.0,0.0,1.985396,1.969006
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
25%,0.000000,1.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
50%,0.000000,5.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
75%,0.000000,9.000000,3.000000,0.250000,1.000000,0.0,1.000000,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
max,1.000000,42.000000,24.000000,1.200000,2.000000,0.0,7.000000,2.000000,10.000000,0.0,1.000000,0.0,0.0,0.0,0.0,0.0,0.0,8.000000,8.000000